/* IMPOSTAZIONI GENERALI */
body {
    margin: auto;
    font-family: 'Poppins', sans-serif;
    background-image:url(../img/sfondo.png);
    background-position: center;
    background-size: 100vw;
    line-height: 1.6;
}

/* HEADER */
header {
    text-align: center;
    background: rgb(0,142,177);
    background: linear-gradient(180deg, rgba(0,142,177,1) 0%, rgba(5,88,110,1) 100%);
    color: white;
    width: 80%;
    height: 300px;
    margin-top: 5%;
    margin-left: 9%; 
    line-height: 1.6;
    font-weight:600;
    font-size: larger;
    border-style: solid;
    border-width: 1px;
}
.img_header {
    width: 330px;
    height: 90px;
    margin-top: 40px;
}
.tit_header {
    margin-top: 10px;
    margin-bottom: 14px;
}
nav {
    color: white;
}
/* MAIN */
main {
    width: 80%;
    margin-top: 8%;
    margin-left: 9%;
    background-color: #fefffe;
    border-style: solid;
    border-width: 1px;
}

/* ELEMENTI NEL MAIN - ARTICLE */
.titolo_m {
    font-weight: 600;
    font-size: xx-large;
    margin-top: 3%;
    margin-bottom: 3%;
}
article {
    margin-left: 5%;
}
.par-art {
    margin-bottom: 4%;
    color: #a0a0a3;
}
strong {
    color: #ab2073;
    font-weight: bold;
}
.par3-art {
    margin-bottom: 3%;
    margin-top: 3%;
}

h2 {
    margin-top: 3%;
}
.par4-art {
    margin-top: 3%;
    margin-bottom: 3%;
}
iframe {
    width: 80%;
}
section {
    background-color: #dde5e4;
    margin-right: 3%;
    text-align: center;
}
aside {
    background-color: #dde5e4;
}

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
footer {
    background: rgb(0,48,59);
    background: linear-gradient(0deg, rgba(0,48,59,1) 0%, rgba(4,131,159,1) 100%);
    margin-bottom: 5%;
    margin-left: 9%;
    width: 80%;
    height: 150px;
    color: white;
    text-align: center;
    font-size: smalls;
    padding-top: 5%;
    border-style: solid;
    border-width: 2px;
}
address {
    margin-top: 5%;
}