/* IMPOSTAZIONI GENERALI */
*
*::before
*::after{box-sizing: border-box;}

body {
    margin: auto;
    font-family: 'Poppins', sans-serif;
    background-image:url(../img/sfondo.png);
    background-position: center;
    background-size: 100vw;
    line-height: 1.6;
}

/* HEADER */
header {
    text-align: center;
    background: rgb(0,142,177);
    background: linear-gradient(180deg, rgba(0,142,177,1) 0%, rgba(5,88,110,1) 100%);
    color: white;
    width: 80%;
    height: 300px;
    margin-top: 5%;
    margin-left: 9%; 
    line-height: 1.6;
    font-weight:600;
    font-size: larger;
    border-style: solid;
    border-width: 1px;
}
.img_header {
    width: 330px;
    height: 90px;
    margin-top: 40px;
}
.tit_header {
    margin-top: 10px;
    margin-bottom: 14px;
}
nav {
    color: white;
}
ul.u1 {
    list-style: none;
    text-decoration: none;
}
a.a1 {
    text-decoration: none;
    color:white
}
/* MAIN */
main {
    width: 80%;
    margin-top: 8%;
    margin-left: 9%;
    background-color: #fefffe;
    border-style: solid;
    border-width: 1px;
}

/* ELEMENTI NEL MAIN - ARTICLE */
.titolo_m {
    font-weight: 600;
    font-size: xx-large;
    margin-top: 3%;
    margin-bottom: 3%;
}
article {
    margin-left: 5%;
}
ul.elenco{

}
.par-art {
    margin-bottom: 4%;
    color: #a0a0a3;
}
strong {
    color: #ab2073;
    font-weight: bold;
}
.par3-art {
    margin-bottom: 3%;
    margin-top: 3%;
}

h2 {
    margin-top: 3%;
}
.par4-art {
    margin-top: 3%;
    margin-bottom: 3%;
}
iframe {
    margin-left: 5%;
    border: 0.5px solid rgb(248, 243, 243);
    border-radius: 35px;
    padding: 5px;
    height: 250px;
}
section {
    background-color: #dde5e4;
    margin-right: 3%;
    text-align: center;
}
button {
    font-size: 15px;
    font-weight: bolder;
    color: white;
    border: none;
    background-color: #2b62ca;
    height: 25px;
}

div.divframe {
    width: 425px;
}

code {
    background-color: #e2e6e8;
    border-radius: 6px;
}

/* TABELLE */
table {
    text-align: center;
    line-height: 2;
    border-bottom: solid rgb(52, 52, 188) 3px;
    height: 300px;
}
caption {
    font-weight:bold;
    font-style:italic;
}
thead {
    background-color: rgb(67, 67, 205);
    border: solid;
    border-color: rgb(52, 52, 188);
    color: white;
    height: 20%;
    line-height: 3;
    font-size: large;
   
}
tr:nth-child(even) {
    background-color: rgba(242,242,242,255);
}
th {
    padding: 6px;
}
/* FORM */

/* ELEMENTI NELL' ASIDE */
.titolo_aside {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: x-large;
    font-weight: bold;
}
.div_aside {
    background-color: #dde5e4;
    margin: 5%;
    margin-bottom: 3.5%;
}

.div_aside2 {
    background-color: #dde5e4;
    margin: 5%;
    margin-bottom: 13%;
}


/* FOOTER */
footer {
    background: rgb(0,48,59);
    background: linear-gradient(0deg, rgba(0,48,59,1) 0%, rgba(4,131,159,1) 100%);
    margin-bottom: 5%;
    margin-left: 9%;
    width: 80%;
    height: 150px;
    color: white;
    text-align: center;
    font-size: smalls;
    padding-top: 5%;
    border-style: solid;
    border-width: 2px;
}
address {
    margin-top: 5%;
}

hr {
    visibility: hidden;
}